{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2>Оставить рецензию</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="rating" class="form-label">Оценка</label>
            <select id="rating" name="rating" class="form-select">
                <option value="5" selected>отлично</option>
                <option value="4">хорошо</option>
                <option value="3">удовлетворительно</option>
                <option value="2">неудовлетворительно</option>
                <option value="1">плохо</option>
                <option value="0">ужасно</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Текст рецензии</label>
            <textarea id="text" name="text" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{{ url_for('book_view', book_id=book_id) }}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
