{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Модерация рецензий</h1>

        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Рецензия ID: {{ review.id }}</h5>
                <p class="card-text">Книга ID: {{ review.book_id }}</p>
                <p class="card-text">Автор рецензии: {{ review.user_id }}</p>
                <p class="card-text">Оценка: {{ review.rating }}</p>
                <p class="card-text">Текст рецензии: {{ review.text }}</p>
                <p class="card-text">Дата добавления: {{ review.date_added }}</p>

                <form method="post" action="{{ url_for('moder.moderate_reviews') }}">
                    <input type="hidden" name="review_id" value="{{ review.id }}">
                    <button type="submit" name="action" value="approve" class="btn btn-success">Одобрить</button>
                    <button type="submit" name="action" value="reject" class="btn btn-danger">Отклонить</button>
                </form>                
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
